
                <nb-card>
                    <nb-card-header>PLAN Details</nb-card-header>
                    <nb-card-body>
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Plans</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="gridRadios" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Free Plan - No. of Messages = 100, Number of Agents=1, Number of Bots=3</span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="gridRadios">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Paid Plan - No. of Messages = 1000, Number of Agents=10, Number of Bots=10</span>
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                            <button class="btn btn-primary"  (click)="showLargeModal4()">
                                        Next
                                    </button> &nbsp; &nbsp;
                            
                        </form>
                    </nb-card-body>
                </nb-card>
           